@media screen and (max-width: 420px) {
    body{
        background-color: rgb(0, 255, 170);
    }
}
@media screen and (min-width: 420px) {
    body{
        background-color: rgb(0, 255, 34);
    }
}

@media screen and (orientation: landscape) {
    body{
        background-color: blueviolet;
    }
}

h1{
    text-align: center;
}
